extends layout
block content
    header.w3-theme-d1
        h1
            b AEBD API REST
    .w3-container
        .w3-row
            .w3-col.m4.l3       
                .w3-side-bar.w3-bar-block.w3-collapse.w3-theme-l5.w3-large
                    h3.w3-bar-item.w3-center.w3-text-teal 
                        b Views
                    ul.w3-ul
                        li
                            form.w3-container(action='/views/tab',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Tablespaces with Datafiles')
                        li
                            form.w3-container(action='/views/user/status',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='User Status Open')
                        li
                            form.w3-container(action='/views/user/rolesTab',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='User with Roles and Tablespaces') 
                        li
                            form.w3-container(action='/views/user/hist',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='User history by timestamp')
                        li
                            form.w3-container(action='/views/tab/hist',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Tablespaces history by timestamp')
                        li
                            form.w3-container(action='/views/dat/hist',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Datafiles history by timestamp')
                        li
                            form.w3-container(action='/views/ses/hist',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Sessions history by timestamp')
                        li
                            form.w3-container(action='/views/mem/hist',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Memory history by timestamp')                        
                        li
                            form.w3-container(action='/',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Home')
                    br
            .w3-col.m8.l9 
                    h3.w3-center.w3-text-teal
                        b= nome
                    .w3-container.w3-responsive
                        table.w3-table-all
                            tr.w3-text-teal
                                th ID:
                                th Timestamp:
                                th Tablespace Name:
                                th Size:
                                th Free Space:
                                th Used:
                                th Type:
                                th Max Size:
                                th Status
                            each t in tabela
                                tr
                                    td= t.TABLESPACE_HISTORY_ID
                                    td= t.TIME_STAMP
                                    td= t.NAME_TABLESPACE
                                    td= t.SIZE_TABLESPACE
                                    td= t.FREE_SPACE
                                    td= t.USED
                                    td= t.TYPE_TABLESPACE
                                    td= t.MAX_SIZE
                                    td= t.STATUS           
    footer.w3-large.w3-theme-d1
        address
            b Gerado por AEBD API REST app