extends layout
block content
    header.w3-theme-d1
        h1
            b AEBD API REST
    .w3-container
        .w3-row
            .w3-col.m4.l3       
                .w3-side-bar.w3-bar-block.w3-collapse.w3-theme-l5.w3-large
                    h3.w3-bar-item.w3-center.w3-text-teal 
                        b Menu
                    ul.w3-ul
                        li
                            form.w3-container(action='/python',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Run Script Python')
                        li
                            form.w3-container(action='/users',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Users',id='users')
                        li
                            form.w3-container(action='/users/history',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Users History')
                        li
                            form.w3-container(action='/tablespaces',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Tablespaces')
                        li
                            form.w3-container(action='/tablespaces/history',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Tablespaces History')
                        li
                            form.w3-container(action='/datafiles',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Datafiles')
                        li
                            form.w3-container(action='/datafiles/history',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Datafiles History')
                        li
                            form.w3-container(action='/sessions',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Sessions')
                        li
                            form.w3-container(action='/sessions/history',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Sessions History')
                        li
                            form.w3-container(action='/memory',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Memory')
                        li
                            form.w3-container(action='/memory/history',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Memory History')
                        li
                            form.w3-container(action='/roles',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Roles')
                        li
                            form.w3-container(action='/views',method='GET')
                                input.w3-btn.w3-hover-teal(type='submit',value='Views')
                        
                    br
            .w3-col.m8.l9
                    h3.w3-center.w3-text-teal
                        b= nome
                    .w3-container.w3-responsive
                        table.w3-table-all
                            tr.w3-text-teal
                                th ID:
                                th Timestamp:
                                th Memory ID:
                                th PGA:
                                th Data Storage:
                                th SGA:
                                th Shared I/O Pool:
                                th Shared Pool Memory:
                                th Buffer Cache Memory:
                                th Large Pool:
                                th Java Pool:
                                th Stream Pool:
                                th Tablespace Name:
                            each t in tabela
                                tr
                                    td= t.MEMORY_HISTORY_ID 
                                    td= t.TIME_STAMP
                                    if t.MEMORY_ID
                                         td= t.MEMORY_ID 
                                    else 
                                        td 
                                            b N/A
                                    if t.PGA
                                        td= t.PGA
                                    else 
                                        td 
                                            b N/A
                                    if t.DATA_STORAGE
                                        td= t.DATA_STORAGE
                                    else 
                                        td 
                                            b N/A
                                    if t.SGA 
                                        td= t.SGA 
                                    else 
                                        td 
                                            b N/A
                                    if t.SHARED_IO_POOL
                                        td= t.SHARED_IO_POOL
                                    else 
                                        td 
                                            b N/A
                                    if t.SHARED_POOL_MEMORY
                                        td= t.SHARED_POOL_MEMORY
                                    else 
                                        td 
                                            b N/A
                                    if t.BUFFER_CACHE_MEMORY
                                        td= t.BUFFER_CACHE_MEMORY
                                    else 
                                        td 
                                            b N/A
                                    if t.LARGE_POOL
                                        td= t.LARGE_POOL
                                    else 
                                        td 
                                            b N/A
                                    if t.JAVA_POOL
                                        td= t.JAVA_POOL
                                    else 
                                        td 
                                            b N/A
                                    if t.STREAM_POOL
                                        td= t.STREAM_POOL
                                    else 
                                        td 
                                            b N/A
                                    td= t.NAME_TABLESPACE
                                    
                                                                  
    br
    footer.w3-large.w3-theme-d1
        address
            b Gerado por AEBD API REST app